<html>
    <head>
        <title>{{ title }}</title>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    </head>

    <body>
        <h2>{{ title }}</h2>
        
        <div id="chart"></div>
        <div id="trades"></div>

        <div id="symbols">
            <h2>Trading Pairs</h2>

            <div id="btcPairs">
            <lable for="btcPairs">BTC Trading Pairs</lable>
            <select name="btcTradingPair" id="btcTradingPair">
            {% for symbol in symbols|sort(attribute="symbol") %}
                {% if 'BTC' in symbol['symbol'] %}
                    <option value="{{ symbol['symbol'] }}">{{ symbol['symbol'] }}</option>
                {% endif %}
            {% endfor %}
            </select>
            </div>
            
            <div id="ethPairs">
            <lable for="ethPairs">ETH Trading Pairs</lable>
            <select name="ethTradingPair" id="ethTradingPair">
            {% for symbol in symbols|sort(attribute="symbol") %}
                {% if 'ETH' in symbol['symbol'] %}
                    <option value="{{ symbol['symbol'] }}">{{ symbol['symbol'] }}</option>
                {% endif %}
            {% endfor %}
            </select>
            </div>

            <div id="usdtPairs">
                <lable for="usdtPairs">USDT Trading Pairs</lable>
                <select name="usdtTradingPair" id="usdtTradingPair">
                {% for symbol in symbols|sort(attribute="symbol") %}
                    {% if 'USDT' in symbol['symbol'] %}
                        <option value="{{ symbol['symbol'] }}">{{ symbol['symbol'] }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                </div>
        </div>

        <div id="my_balances">
            <h2>Balances</h2>
            <table>
                {% for balance in my_balances %}
                    {% if balance['free'] != '0.00000000' %}
                    <tr>
                        <td><strong>{{ balance['asset'] }}</strong></td>
                        <td>{{ balance['free'] }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>

        </div>

        <h3>Settings</h3>
        
        <div id="settings">
            <div>
                RSI
                <input type="text" id="rsi_length" name="rsi_length" placeholder="14" />
                Over Bought
                <input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70" />
                Over Sold
                <input type="text" id="rsi_oversold" name="rsi_oversold" placeholder="30" />
            </div>
        </div>

        <script>
        var binanceSocket = new WebSocket("wss://stream.binance.com:9443/ws/btcusdt@trade");
        //console.log(BinanceSocket);
        
        var tradeDiv = document.getElementById('trades')
        
        binanceSocket.onmessage = function (event) {
        //console.log(event.data);
        var messageObject = JSON.parse(event.data)
        tradeDiv.append(messageObject.p)
        tradeDiv

        }
       
        </script>

        <script src="{{ url_for('static', filename='chart.js') }}"></script>
    </body>
</html>